/* General */

body {
  background-color: white;
}
/* div{
  color: white;
}
h2{
  color: white;
}
h3{
  color: white;
} */
p {
  font-size: 16px;
  text-align: justify;
  /* color: white; */
}
  /* ul{
    color: white;
  } */

.mb100 {
  margin-bottom: 100px;
}

/* 1 - navbar */

.navbtn {
  height: 50px;
  font-weight: 500;
  margin: 0px 9px 0px 9px;
  text-align: center;
  color: #d2d2d2;
  text-decoration: none;
  align-content: center;
  transition: 0.3s;
}

@media only screen and (max-width: 992px) {
  .navbtn {
    /* padding: 20px 0px 20px 0px; */
    margin: 0px 0px 0px 0px;
  }
  .navbtn-bg{
    position: absolute;
    top: 0;
    border-radius: 10px;
    /* background: #2b7fcf; */
    background: white;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    transition: 0.9s;
  }
  .navbtn-bg:hover{
    opacity: 0.1;
    transition: 0.3s;
  }
}

.navparr{
  border: none;
  transition: 0.2s;
}

.navparr:hover{
  border-bottom: 1px solid #d2d2d2;
  transition: 0.2s;
}

/* 2 - sobre mi */

.imgPerfil {
  border-radius: 300px;
  object-fit: contain;
  height: 300px;
  width: 300px;
}

@media only screen and (max-width: 600px) {
  .imgPerfil {
    height: 300px;
    width: 300px;
  }
}

/* 3 - tecnologias */

.divTec {
  border-radius: 8px;
}

/* 4 - proyectos */

.titleLine {
  border-bottom: 2px solid var(--primary);
}

.proyImg {
  height: 260px;
  border: 1px solid var(--primary);
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  .proyImg {
    height: 180px;
  }
}

.proyImgFilter {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.proyImgFilter:hover {
  background: var(--primary);
  opacity: 0.2;
  transition: 0.4s;
}

/* 6 - contacto */
.btnContact {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  background: #2b7fcf;
  width: 70px;
  height: 70px;
  border-radius: 40px 40px 0 40px;
  transition: 0.3s;
}
.btnContact:hover{
  background-color: #4e9de3;
  transition: 0.3s;
}

