@use 'sass:map';

$primary: #399cc0;
$secondary: #02B090;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    );
    
    :root {
        --primary: #399cc0;
        --secondary: #02B090;
    }
    
    // Create your own map
    $custom-colors: (
        "tertiary": #2F1C6A,
        "quaternary": #F4F5FF,
        "quinary": #8C85FF,
        );
        
// Merge the maps
$theme-colors: map.merge($theme-colors, $custom-colors);
        
@import '../../node_modules/bootstrap/scss/bootstrap.scss'